<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Blog - NodePrincipe</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <h1>Create /edit blog articles</h1>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
