<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Blog - NodePrincipe</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <h1>Dashboard</h1>
      <p>Welcome to the admin dashboard. Here you can manage your blog.</p>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
