<main class="single-article">
  <div class="container card-article">
    <img
      class="img-article"
      src="/image/organic-olive-harvest-extra-virgin-oil.webp"
      alt="<%= article.title %> - Promontolio organic olive oil"
      loading="lazy"
    />
    <div class="card-content">
      <!-- <h1 class="single-article-title"><%= article.title %></h1> -->
      <h1 class="single-article-title">Gli Ulivi</h1>
      <div class="article-meta">
        <span class="article-author">Giuseppe Mancini</span>
        <span class="article-date">04/09/2025</span>
      </div>
      <!-- <div class="single-article-content"><%- article.content %></div> -->
      <div class="single-article-content">
        <p class="single-article-intro">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad
          dignissimos provident error, consequuntur necessitatibus illum
          consequatur possimus ea sapiente quam, suscipit impedit nulla
          reprehenderit.
        </p>
        <br />
        <p class="single-article-excerpt">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad
          dignissimos provident error, consequuntur necessitatibus illum
          consequatur possimus ea sapiente quam, suscipit impedit nulla
          reprehenderit, voluptatibus at vitae corporis doloremque atque. Fuga
          veritatis harum numquam doloremque illo quasi at reprehenderit
          consequuntur consequatur excepturi, pariatur accusantium maiores quo
          cumque nobis delectus, ea nulla quam fugit voluptas error maxime?
          Culpa sunt id doloremque nostrum nisi cumque sint eum adipisci, ut
          laboriosam soluta earum quidem sapiente excepturi nobis pariatur,
          optio laudantium! Deserunt quisquam quo aspernatur consequatur
          repudiandae ipsam ipsa magnam perferendis exercitationem dolorem
          quibusdam libero iusto nobis, earum, eaque et, facilis tempore. Harum
          deleniti sint
        </p>
      </div>
    </div>
    <div class="buttons-link">
      <a class="btn-article" href="/blog">Back </a>
      <a class="btn-article" href="/contact">Buy It</a>
    </div>
  </div>
</main>
