<main class="blog-home">
  <div class= "container container-blog">
    <h1 class="blog-title ">
      <i class="fas fa-newspaper"></i>
      News, updates, and interesting information
    </h1>
    <div class="articles-list">
      <div class="article-card">
        <div class="article-img">
          <img class="blod-card-img" src="./image/UlivoBlogCard.webp" alt="Olive tree blog card - Promontolio" loading="lazy">
        </div>
        <div class="article-content">
          <h2 class="article-title">Article Title - 1</h2>
          <p class="article-excerpt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, eius, accusamus ratione a voluptate ducimus et voluptates nihil vero illum vel modi fuga, quaerat minima alias perspiciatis delectus. Doloribus quam minima, aspernatur ut quos voluptate quidem expedita iusto hic! Officiis corporis magnam consequatur velit suscipit deserunt assumenda veritatis unde aliquid.</p>
        </div>
        <div class="blog-btn-container">
            <a class="blog-btn-main" href="/blog/article-title-1">Read More</a>
        </div>
      </div>
      <div class="article-card">
        <div class="article-img">
          <img class="blod-card-img" src="./image/stone-olive-press-in-olive-grove.webp" alt="Olive oil container blog card - Promontolio" loading="lazy">
        </div>
        <div class="article-content">
          <h2 class="article-title">Article Title - 2</h2>
          <p class="article-excerpt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, eius, accusamus ratione a voluptate ducimus et voluptates nihil vero illum vel modi fuga, quaerat minima alias perspiciatis delectus. Doloribus quam minima, aspernatur ut quos voluptate quidem expedita iusto hic! Officiis corporis magnam consequatur velit suscipit deserunt assumenda veritatis unde aliquid.</p>
        </div>
        <div class="blog-btn-container">
            <a class="blog-btn-main" href="/blog/article-slug">Read More</a>
        </div>
      </div>
      <div class="article-card">
        <div class="article-img">
          <img class="blod-card-img" src="./image/ScoglieraGargano.webp" alt="Gargano cliff blog card - Promontolio" loading="lazy">
        </div>
        <div class="article-content">
          <h2 class="article-title">Article Title - 3</h2>
          <p class="article-excerpt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, eius, accusamus ratione a voluptate ducimus et voluptates nihil vero illum vel modi fuga, quaerat minima alias perspiciatis delectus. Doloribus quam minima, aspernatur ut quos voluptate quidem expedita iusto hic! Officiis corporis magnam consequatur velit suscipit deserunt assumenda veritatis unde aliquid.</p>
        </div>
        <div class="blog-btn-container">
            <a class="blog-btn-main" href="/blog/article-slug">Read More</a>
        </div>
      </div>
      <div class="article-card">
        <div class="article-img">
          <img class="blod-card-img" src="./image/ancient-olive-grove-path.webp" alt="Olive path blog card - Promontolio" loading="lazy">
        </div>
        <div class="article-content">
          <h2 class="article-title">Article Title - 4</h2>
          <p class="article-excerpt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, eius, accusamus ratione a voluptate ducimus et voluptates nihil vero illum vel modi fuga, quaerat minima alias perspiciatis delectus. Doloribus quam minima, aspernatur ut quos voluptate quidem expedita iusto hic! Officiis corporis magnam consequatur velit suscipit deserunt assumenda veritatis unde aliquid.</p>
        </div>
        <div class="blog-btn-container">
            <a class="blog-btn-main" href="/blog/article-slug">Read More</a>
        </div>
      </div>
      <div class="article-card">
        <div class="article-img">
          <img class="blod-card-img" src="./image/CroceNelSole.webp" alt="Cross in the sun blog card - Promontolio" loading="lazy">
        </div>
        <div class="article-content">
          <h2 class="article-title">Article Title - 5</h2>
          <p class="article-excerpt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, eius, accusamus ratione a voluptate ducimus et voluptates nihil vero illum vel modi fuga, quaerat minima alias perspiciatis delectus. Doloribus quam minima, aspernatur ut quos voluptate quidem expedita iusto hic! Officiis corporis magnam consequatur velit suscipit deserunt assumenda veritatis unde aliquid.</p>
        </div>
        <div class="blog-btn-container">
            <a class="blog-btn-main" href="/blog/article-slug">Read More</a>
        </div>
      </div>
      

      
    </div>
   
    </div>
  </div>
</main>
