<main class="index-main">
  <div class="container">
    <h2 class="text-main scroll-fade-up">
      Discover the finest organic Italian extra virgin olive oil
    </h2>
    <div class="main-content second-main scroll-fade-up">
      <div class="img left"></div>
      <div class="text right">
        <h3 class="text-title scroll-fade-up">
          Experience the Essence of Apulia, Italy
        </h3>
        <p>
          Dive into the rich flavors of our organic extra virgin olive oil,
          crafted with centuries-old traditions and a commitment to
          sustainability. Perfect for enhancing your culinary creations with a
          touch of Italian excellence.
        </p>
        <div class="banner">
          <img
            class="banner-img"
            src="../image/promontolio-banner.png"
            alt="Promontolio olive oil banner"
            loading="lazy"
          />
        </div>
      </div>
    </div>
    <div class="main-content third-main">
      <div class="text left scroll-fade-up">
        <h3 class="text-title">Our Timeless Terroir</h3>
        <p>
          Overlooking crystalline waters and limestone hills, our groves have
          thrived for centuries. Sun-kissed Koroneiki and Ogliarola trees draw
          strength from Apulia’s fertile soil and sea breezes, yielding olives
          rich in character.
        </p>
      </div>
      <div class="img right scroll-fade-up"></div>
    </div>
    <div class="main-content">
      <div class="img left list scroll-fade-up"></div>
      <div class="text right list scroll-fade-up">
        <h3 class="text-title">Why Choose Our Olive Oil?</h3>
        <ul class="reasons-list">
          <li class="reasons-item">
            <i class="fas fa-check"></i>100% Organic and Extra Virgin
          </li>
          <li class="reasons-item">
            <i class="fas fa-check"></i> Cold-Pressed for Maximum Flavor and
            Nutrients
          </li>
          <li class="reasons-item">
            <i class="fas fa-check"></i> Rich in Antioxidants and Healthy Fats
          </li>
          <li class="reasons-item">
            <i class="fas fa-check"></i> Versatile for Cooking, Dressing, and
            Dipping
          </li>
          <li class="reasons-item">
            <i class="fas fa-check"></i> Sustainably Sourced from Family-Owned
            Groves
          </li>
        </ul>
        <div class="banner">
          <img
            class="banner-img organicLogo"
            src="../image/OrganicLogo.png"
            alt="Organic olive oil logo"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</main>
<div class="sustainability-section">
  <div class="content">
    <h3 class="text-title scroll-fade-up">Our Commitment to Sustainability</h3>
    <p class="scroll-fade-up">
      We believe in preserving the environment and supporting local communities.
      Our olive oil is produced using sustainable farming practices that protect
      the land and promote biodiversity.
    </p>
  </div>
</div>
