<header class="home-header">
  <%- include('./general/navbar.ejs') %>
  <section class="hero container">
    <div class="content">
      <h1>
        <span class="highlight-main"
          >Organic Italian extra virgin olive oil</span
        >
      </h1>
      <h2>
        <span class="highlight-brand">Promontolio</span>
        <span class="highlight-slogan"
          >Centuries of Tradition a Single Drop of Excellence.</span
        >
      </h2>
      <p class="highlight-description">
        Savor cold-pressed olive oil, the fruit of ancient land and modern
        sustainability, designed for the most discerning palates.
      </p>
    </div>
    <div class="btn-container slideInDown">
      <a class="btn-main" href="contact">Contact Us</a>
    </div>
  </section>
</header>
