<header class="header-product">
  <%- include('./general/navbar') %>
  <section class="product container">
    <div class="product-description content scroll-fade-up">
      <h1>Our Products</h1>
      <p>
        Discover the essence of Apulia in every drop of our extra virgin olive
        oil. Crafted with care and tradition, our oils bring the rich flavors of
        sun-kissed olives to your table. Explore our selection and elevate your
        culinary creations with the pure taste of Italy.
      </p>
    </div>
    <div class="linea scroll-fade-up"></div>
    <div class="product-image-text-1">
      <div class="bottiglia-bio scroll-fade-up">
        <img
          src="../image/BottigliaBio.png"
          alt="Organic olive oil bottle - Promontolio"
          loading="lazy"
        />
      </div>
      <div class="product-text scroll-fade-up">
        <h2>Bottiglia Bio</h2>
        <p>
          Our Bottiglia Bio is a testament to our commitment to organic farming
          and sustainable practices. Made from the finest organic olives, this
          extra virgin olive oil is cold-pressed to preserve its natural flavors
          and health benefits.
        </p>
        <div class="linea-description"></div>
      </div>
    </div>
    <div class="product-image-text-2 scroll-fade-up">
      <div class="product-text">
        <h2>Bottiglia Bio</h2>
        <p>
          Our Bottiglia Bio is a testament to our commitment to organic farming
          and sustainable practices. Made from the finest organic olives, this
          extra virgin olive oil is cold-pressed to preserve its natural flavors
          and health benefits.
        </p>
        <div class="linea-description scroll-fade-up"></div>
      </div>
      <div class="logo-ulivo scroll-fade-up">
        <img
          src="../image/PromontolioLogoUlivo.png"
          alt="Promontolio olive oil logo"
          loading="lazy"
        />
      </div>
    </div>
  </section>
</header>
