<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/general/head') %>
    <title>Blog - Promontolio</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    <%- include('partials/blogHeaderNav') %>
    <%- include('partials/BlogArticleMain') %>
    <%- include('partials/general/footer') %>
  </body>
</html>
