<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/general/head') %>
  </head>
  <body>
    <!-- prettier-ignore -->
    <%- include('partials/homeHeader') %>
    <%- include('partials/homeMain') %>
    <%- include('partials/general/footer') %>
  </body>
</html>
