<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-brand">
      <img
        src="../image/logo-promontolio.png"
        alt="Promontolio footer logo"
        class="footer-logo"
        loading="lazy"
      />
      <span class="footer-title">Promontolio</span>
    </div>
    <!-- <nav class="footer-nav">
      <a href="/downloadForm">Download</a>
      <a href="/auth/login">Admin Login</a>
    </nav> -->
    <div class="flex-container">
      <div class="footer-social">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </div>
      <div class="footer-contact">
        <span><a href="/contact">Contact Us</a></span>
      </div>
      <div class="footer-contact">
        <span
          ><span class="admin-link"><a href="">Admin</a></span></span
        >
      </div>
    </div>
    <div class="footer-copyright">
      &copy; <%= new Date().getFullYear() %> NodePrincipe. All rights reserved.
    </div>
  </div>
</footer>
