$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-stack: "Roboto", Arial, sans-serif;
$font-dark: #333;
$background-gradient: linear-gradient(
  to right,
  rgb(34, 219, 83),
  rgb(1, 83, 13)
);
$brand-main: #fff;
$brand-accent: #0fd86a;
$box-shadow: 8px 10px 10px 10px rgba(0, 0, 0, 0.1);
$light-background: #f1f1f1;
